.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
  position: relative;
}
.productCard:hover {
  .addToCartBtn {
    transform: translateY(0);
    opacity: 1;
  }
}
.productImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1.1;
  cursor: pointer;
  border-top-left-radius: var(--radius-big, 12px);
  border-top-right-radius: var(--radius-big, 12px);
  border-bottom: 1px solid var(--grey-divider, #ddd);
}
.productDescription {
  display: flex;
  width: 316px;
  padding: 0px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.productTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--txt-black, #282828);
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
}
.priceWrapper {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
.discountPrice {
  color: var(--txt-black, #282828);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.price {
  color: var(--txt-grey, #8b8b8b);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
}
.discount {
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  padding: 4px 8px;
  position: absolute;
  right: 16px;
  top: 16px;
}
.addToCartBtn {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 163px;
  padding: 16px auto;
  min-height: 60px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px;
  transform: translateY(20px);
  transition: 250ms;
  opacity: 0;
}
.addToCartBtn:hover {
  background: var(--black, #282828);
  cursor: pointer;
}
.addToCartBtn:active {
  background: var(--txt-white, #fff);
  color: var(--black, #282828);
  cursor: pointer;
}
.addToCartBtn.added {
  background: var(--txt-white, #fff);
  color: var(--black, #282828);
  cursor: not-allowed;
}
@media only screen and (max-width: 1024px) {
  .productCard {
    width: 100%;
    box-sizing: border-box;
    width: 165px;
  }
  .productImg {
    width: 100%;
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-top-left-radius: var(--radius-big, 12px);
    border-top-right-radius: var(--radius-big, 12px);
    border-bottom: 1px solid var(--grey-divider, #ddd);
  }
  .productDescription {
    width: 100%;
    padding: 16px;
  }

  .productTitle {
    font-size: 1.2rem;
  }

  .discountPrice {
    font-size: 24px;
  }

  .price {
    font-size: 1rem;
  }

  .discount {
    top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .productCard {
    width: 100%;
    box-sizing: border-box;
    width: 165px;
  }

  .productImg {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-top-left-radius: var(--radius-big, 12px);
    border-top-right-radius: var(--radius-big, 12px);
    border-bottom: 1px solid var(--grey-divider, #ddd);
  }

  .productDescription {
    width: 100%;
    padding: 16px;
  }

  .productTitle {
    font-size: 1.2rem;
  }

  .discountPrice {
    font-size: 24px;
  }

  .price {
    font-size: 1rem;
  }

  .discount {
    top: 10px;
  }
}

@media only screen and (max-width: 430px) {
  .productCard {
    width: 100%;
    box-sizing: border-box;
    width: 100px;
  }

  .productDescription {
    width: 100%;
    padding: 10px;
  }

  .productImg {
    height: 120px;
  }

  .productTitle {
    font-size: 1.2rem;
  }

  .discountPrice {
    font-size: 18px;
  }

  .price {
    font-size: 0.9rem;
  }

  .discount {
    top: 8px;
  }

  .addToCartBtn {
    bottom: 10px;
  }
}
