.top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("../../assets/images/main/mainFoto.svg");
  background-size: cover;
  padding: 80px 2.5% 210px 2.5%;
}
main h2 {
  color: var(--txt-white, #fff);
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
}
.btnCheckOut {
  width: 16%;
  padding: 1% 4%;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-size: calc(1.39vw);
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
  border: none;
}

.btnCheckOut:hover {
  background-color: #339933;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}

@media (max-width: 1024px) {
  .top {
    padding: 5px 2% 100px 2%;
  }
  .title {
    font-size: 90px;
  }
}
@media (max-width: 768px) {
  .top {
    padding: 5px 2% 100px 2%;
  }
  .title {
    font-size: 68px;
  }
  .btnCheckOut {
    padding: 1% 10%;
    text-align: center;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}
@media screen and (max-width: 412px) {
  .title {
    font-size: 30px;
  }
  .btnCheckOut {
    margin: 20px auto 0;
    font-size: 1rem;
  }
  .top {
    text-align: center;
  }
}
