.contentSuccess {
  background: var(--green, #393);
  display: flex;
  max-width: 26vw;
  min-width: 373px;
}

.upperSide {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.4);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--green, #393);
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-big, 12px);
}

.textDivSuccess {
  display: flex;
  padding: 0vh 1vw;
  align-items: flex-start;
  gap: 2vh;
  flex-direction: column;
}

.h3Success {
  color: var(--txt-white, #fff);
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
}

.pSuccess {
  color: var(--txt-white, #fff);
  font-size: 1rem;
  font-weight: 600;
  line-height: 110%;
}

.closeIcon {
  padding: 1vh 0vw;
  margin: -0.2vh 1vw;
  margin-right: 0;
  cursor: pointer;
}
